.cards-container {
}

.cards-container:after {
  content: '';
  display: table;
  clear: both;
}

.cards-container > section {
  background-color: burlywood;
  min-height: 150px;
  width: 20%;
  border-radius: 10px;
  margin: 0 40px;
  float: left;
}

.cards-container > section h2 {
  text-align: center;
}
