.login-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.login-container form div button {
  width: 100%;
  margin-top: 10px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container form div button > div {
  display: inherit;
  margin-right: 5px;
}

.login-container form div button > span {
  font-size: 17px;
}
