.products-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 60px auto 15px;
}

.products-container {
  cursor: pointer;
  flex-basis: 30%;
  max-width: 30%;
  text-align: center;
}

.products-container:hover {
  box-shadow: 3px 3px 5px 6px #ccc;
}

.products-container > figure img {
  max-width: 200px;
  height: auto;
}

.pagination {
  text-align: center;
  margin: 30px 0 50px;
}

.pagination > a {
  margin: 0 15px;
}
